@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #0c0a09;
    color: #fffdd0;
  }
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
